@import './top-menu.scss';

.main-section {
    height: 100vh;
    background-image: url('../img/head-bgc.png');
    display: flex;
    flex-direction: column;
}

.main-section__content-wrapper {
    margin: auto;
}

.main-section__content {
    width: 920px;
}

.main-section__page-header {
    margin-bottom: 50px;
}

.time {
    display: flex;
}

.time__rect {
    width: 102px;
    height: 112px;
    display: flex;
    flex-direction: column;
    background: #121212;
}

.time__rect:not(:last-child) {
    margin-right: 30px;
}

.time__rect div {
    margin: auto;
    display: flex;
    flex-direction: column;
}

.time__digit {
    font-weight: bold;
    font-size: 36px;
    line-height: 140%;
    color: #FFFFFF;
}

.statistics {
    width: 100%;
    height: 130px;
    background: #121212;
    display: flex;
}

.statistics__content-wrapper {
    margin: auto;
    display: flex;
    align-items: center;
}

.statistics__items {
    margin-left: 80px;
}

.statistics__row {
    display: flex;
}

.statistics__row:not(:last-child) {
    margin-bottom: 10px;
}

.statistics__key {
    width: 220px;
}

.statistics__value {
    width: 30px;
}

.statistics__progress {
    margin-left: 80px;
    flex: 1;
}

.progress {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.progress-header {
    display: flex;
    margin-bottom: 8px;
}

.progress-header__value {
    margin-left: 30px;
}

.progress-bar {
    display: flex;
    flex-direction: column;
}

.progress-line {
    width: 100%;
    height: 6px;
    display: flex;
    background: #FFFFFF;
}

.progress-value {
    width: 50%;
}

.progress-legend {
    display: flex;
    margin-top: 5px;
}

.progress-legend__max {
    margin-left: auto;
}